{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('css/main.css')}}" rel="stylesheet">
{% endblock %}

{% set route = app.request.get('_route') %}

{% block body %}
    {% if app.user is not null %}
        <header class="encabezado">
            {% if route != 'homepage' %}
            <div class="flechita">
                <a href="{{path('homepage')}}">
                    <span class="icon-arrow-left"></span>
                </a>
            </div>
            {% endif %}        
            <h1>YourDreams</h1>
        </header>
        <nav id="menuPrincipal">
            <ul>
				{% block mensajes %}
				<li class="white">
					<span class="icon-user"></span>&nbsp;Mensajes
				</li>
				{% endblock %}
                <li class="white">
                    <a href="#" class="icon-menu"></a>
                    <ul>
                        <li><a href="{{path('create_dream')}}"><span class="icon-feather"></span>&nbsp;Nuevo</a></li>
                        <li><a href="{{path('find_dream')}}"><span class="icon-search"></span>&nbsp;Buscar</a></li>
                        <li><a href="{{path('editar_usuario')}}">
							{% if app.user.imagen | length > 0 %}
							<img src="{{app.user.imagen}}" style="width: 20px" alt="Usuario"/>&nbsp;Perfil
							{% else %}
							<span class="icon-user"></span>&nbsp;Perfil
							{% endif %}
							</a></li>
                        <li><a href="{{path('logout')}}"><span class="icon-logout"></span>&nbsp;Salir</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    {% endif %}
{% block content %}{% endblock %}

{% endblock %}    