<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Comentario
            </th>
            <th>
                Calificacion
            </th>
            <th>
                Usuario
            </th>
            <th>
                Dream
            </th>
            <th>
                Alta
            </th>
             <th>
                Actualizacion
            </th>
        </tr>
    </thead>
    <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td>
                    {{ comentario.comentario }}
                </td>
                <td>
                    {{ comentario.calificacion }}
                </td>
                <td>
                    {{ comentario.usuario }}
                </td>
                <td>
                    {{ comentario.dream }}
                </td>
                <td>
                    {{ comentario.createdAt | date('d-m-Y') }}
                </td>
                <td>
                    {{ comentario.updatedAt | date('d-m-Y') }}
                </td>
            </tr>
        {% endfor %}
    </tbody> 
</table>
