{% extends '::admin.html.twig' %}

{% block body -%}
    <div class="container">
    <h2>Comentario</h2>
    <table class=" table table-striped"> 
    <thead>
        <tr>
            <th>Comentario</th>
            <th>Calificacion</th>
            <th>Usuario</th>
            <th>Dream</th>
        </tr>
     </thead>
     <tbody>
            <tr>
                <td>{{entity.comentario }}</td>
                <td>{{entity.calificacion }}</td>
                <td>{{entity.usuario }}</td>
                <td>{{entity.dream }}</td>
            </tr>
     </tbody>   
    </table>
    
</div>
<p> &nbsp; </p>
<div class="container text-center">            
<ul class="record_actions list-inline">
    <li>
        <a href="{{ path('comentarios') }}" class="btn btn-primary">
            Regresar
        </a>
    </li>
    <li>
        <a href="{{ path('comentarios_edit', { 'id': entity.id }) }}" class="btn btn-success">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>    
{% endblock %}
