<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Telefono
            </th>
            <th>
                Email
            </th>
            <th>
                Activo
            </th>
            <th>
                Alta
            </th>
             <th>
                Actualizacion
            </th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>
                    {{ usuario.nombre }}
                </td>
                <td>
                    {{ usuario.apellido }}
                </td>
                <td>
                    {{ usuario.telefono }}
                </td>
                <td>
                    {{ usuario.email }}    
                </td>
                <td>
                    {{ ((usuario.isActive)?'Si':No) }}
                </td>
                <td>
                    {{ usuario.createdAt | date('d-m-Y') }}
                </td>
                <td>
                    {{ usuario.updatedAt | date('d-m-Y') }}
                </td>
            </tr>
        {% endfor %}
    </tbody> 
</table>
