<div class="show-dream comentario-dream comentario-dream-nivel-{{comentario.nivel}}">
    <div class="comentario">
        <span class="fecha-comentario">{{ dream.createdAt|date('d M Y') }} a las {{ dream.createdAt | date('ha') }}</span>
        <h3 class="titulo-comentario">{{comentario.usuario.nombreCompleto}}</h3>
        <p class="mensaje-comentario">
            {{ comentario.message }}
        </p>
        <div class="acciones-comentario">
            {% if comentario.usuario.id == app.user.id %}
                <a href="#modalFormComentario" class="crearComentario" data-url="{{path('create_dream_mensaje',{'id': comentario.dream.id })}}" data-titulo="Responder mensaje" data-parent="{{comentario.id}}">
                    Responder
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% if comentario.children | length > 0 %}  
    {% for child in comentario.children %}
        {% include 'FrontendBundle:Default:comentarios.html.twig' with { 'comentario': child } %}
    {% endfor %}
{% endif %}        
