{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('css/main.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="container">
        <article class="wrap">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-notice alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <p>
                {{ form_errors(form) }}
            </p>
            <div class="formulario"> 
                <form class="form-crear" role="form" action="{{ ((isNew)?path('create_dream'):path('update_dream',{'id':dream.id})) }}" method="post" {{ form_enctype(form) }}>
                    <h1 class="form-heading">{{titulo}}</h1>
                    <div class="form-group">
                        {{ form_errors(form.titulo)	}}
                        {{ form_widget(form.titulo,{'attr':{'class':'form-control','placeholder':'Titulo'}})	}}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.lugar)	}}
                        {{ form_widget(form.lugar,{'attr':{'class':'form-control','placeholder':'Lugar'}})	}}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.dream)	}}
                        {{ form_widget(form.dream,{'attr':{'class':'form-control','placeholder':'Descripcion del sueño'}})	}}
                    </div>
                    {% if isNew == false %}
                    <div class="form-group">
                        <ul class="dream-archivos">
                        {% for galeria in dream.galerias %}
                            <li class="dream-archivo">
                            {{ galeria.archivoView(200,200) | raw }}
                            <span class="eliminar-imagen">x</span>
                            </li>
                        {% endfor %}    
                        </ul>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form_errors(form.file)	}}
                        {{ form_widget(form.file,{'attr':{'class':'form-control','placeholder':'archivo(s)'}})	}}
                    </div>
                    <div class="form-group form-group-checkbox">
                        <label class="checkbox-inline">
                            {{ form_errors(form.compartir)	}}
                            {{ form_widget(form.compartir,{'attr':{'class':'form-control'}})	}} Compartir tu sueño
                        </label>
                    </div>
                    {{form_rest(form)}}
                    <button class="boton boton-lg boton-center" type="submit">Guardar</button>
                </form>
                    
                <input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
                <div id="progress">
                    <div class="bar" style="width: 0%;height: 18px; background: green;"></div>
                </div>
            </div>       
        </article>        
    </section> <!-- /container -->

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="/js/vendor/jquery.ui.widget.js"></script>
    <script src="/js/jquery.iframe-transport.js"></script>
    <script src="/js/jquery.fileupload.js"></script>
    <script>
    $(function () {
        $('#fileupload').fileupload({
            dataType: 'json',
            add: function (e, data) {
                data.context = $('<button/>').text('Upload')
                    .appendTo(document.body)
                    .click(function () {
                        data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                        data.submit();
                    });
            },
            done: function (e, data) {
                data.context.text('Upload finished.');
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
            }
        });
    });
    </script>    
{% endblock %}    