{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('css/main.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="container">
        <article class="wrap">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-notice alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <p>
                {{ form_errors(form) }}
            </p>
            <div class="formulario"> 
                <form class="form-crear" role="form" action="{{ ((isNew)?path('create_dream'):path('update_dream',{'id':dream.id})) }}" method="post" {{ form_enctype(form) }}>
                    <h1 class="form-heading">{{titulo}}</h1>
                    <div class="form-group">
                        {{ form_errors(form.titulo)	}}
                        {{ form_widget(form.titulo,{'attr':{'class':'form-control','placeholder':'Titulo'}})	}}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.lugar)	}}
                        {{ form_widget(form.lugar,{'attr':{'class':'form-control','placeholder':'Lugar'}})	}}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.dream)	}}
                        {{ form_widget(form.dream,{'attr':{'class':'form-control','placeholder':'Descripcion del sueño'}})	}}
                    </div>
                    {% if isNew == false %}
                    <div class="form-group">
                        <ul class="dream-archivos">
                        {% for galeria in dream.galerias %}
                            <li class="dream-archivo">
                            {{ galeria.archivoView(200,200) | raw }}
                            <a href="#" class="archivo-eliminar" data-url="{{path('delete_galeria',{'id': galeria.id})}}">
                                <img src="/images/cerrar.png"/>
                            </a>
                            </li>
                        {% endfor %}    
                        </ul>
                    </div>
                    {% endif %}
                    <div class="form-group load-files">
                        {{ form_errors(form.file)	}}
                        {{ form_widget(form.file,{'attr':{'class':'form-control','placeholder':'archivo(s)'}})	}}
                    </div>
                    <div class="form-group form-group-checkbox">
                        <label class="checkbox-inline">
                            {{ form_errors(form.compartir)	}}
                            {{ form_widget(form.compartir,{'attr':{'class':'form-control'}})	}} Compartir tu sueño
                        </label>
                    </div>
                    {{form_rest(form)}}
                    <button class="boton boton-lg boton-center" type="submit">Guardar</button>
                </form>
            </div>       
        </article>        
    </section> <!-- /container -->

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
    $(function () {
        $(".archivo-eliminar").click(function(){
           var url = $(this).data('url');
           var self = $(this);
           var dream = {{(isNew?0:dream.id)}};
           if(confirm('Deseas eliminar el registro?')){
                $.ajax({
                   url: url,
                   type: 'DELETE',
                   dataType: 'json',
                   data: {'dream': dream },
                   success: function(data){
                       self.parent().remove();
                   }
                });
            }
        });
    });
    </script>    
{% endblock %}    