{% extends 'FrontendBundle::layout.html.twig' %}

{% block mensajes %}
	<li class="white">
	<a href="#" class="icon-user"></a>&nbsp;Mensajes
    <ul>
	 {% for mensaje in mensajes %}
     <li><a href="{{path('share_dream',{'clave':mensaje.dream.clave})}}"><span class="icon-user"></span>&nbsp;{{mensaje.deUsuario.nombreCompleto}}</a></li>
	 {% endfor %}
    </ul>
	</li>
{% endblock %}

{% block content %}
    <section class="container row">
        <article class="wrap">
            <h2>Mis sueños</h2>
            
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-notice alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            
            <div class="contenedor-dreams"> 
                <ul class="lista-dreams">
                    {% for dream in dreams %}
                        <li class="item-dream">
                            <a href="{{path('show_dream',{'id': dream.id })}}">
                                <div class="dream">
                                    <h3 class="titulo-dream">{{dream.titulo}}</h3>
                                    <span class="fecha-dream">{{ dream.createdAt|date('d M Y') }}</span>
                                    <div class="acciones-dream">
                                    {% set urlRedes = url('share_dream',{ 'clave': dream.clave })%}

                                    {% set textoRedes = 'He creado un nuevo sueño, ' 
                                                        ~ dream.titulo ~ ', '
                                                        ~ ' en Your Dreams, si quieres conocerlo has click ' %}
                                        <a target="_blank" href="http://www.facebook.com/sharer.php?u={{urlRedes}}&t={{textoRedes|url_encode}}" class="accion-share accion-share-facebook">
                                            <span class="icon-facebook"></span>&nbsp;compartir
                                        </a>
                                        <a target="_blank" href="http://twitter.com/home?status={{textoRedes|url_encode}}{{urlRedes|url_encode}}" class="accion-share accion-share-twitter">
                                            <span class="icon-twitter"></span>&nbsp;compartir
                                        </a>
										<a href="{{urlRedes|url_encode}}" class="mensajes-dream">
                                            {{ dream.mensajes | length }}&nbsp;mensaje(s)
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% else %}
                        <li class="item-dream">
                            <a href="{{path('create_dream')}}">
                                <div class="dream">
                                    <h3 class="titulo-dream">Bienvenido, empieza por crear tus sueños</h3>
                                    <span class="fecha-dream">{{ 'now'|date('d M Y') }}</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </article>        
    </section> <!-- /container -->

{% endblock %}