{% extends 'FrontendBundle::layout.html.twig' %}

{% set urlAbsolutaFoto = 'http://'
                     ~ app.request.server.get('SERVER_NAME')
                     ~ asset('images/logo.png') %}

{% set urlCompartir = url('share_dream',{ 'clave': dream.clave }) %}                     
                     
{% block redes_sociales %}
    <meta property="og:url" content="{{ urlCompartir }}" />
    <meta property="og:title" content="Mi sueño es {{dream.titulo}}" />
    <meta property="og:description" content="{{dream.dream}}." />
    <meta property="og:image" content="{{urlAbsolutaFoto}}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="yourdreams.com" />
    <!--meta property="fb:admins" content="USER_ID1,USER_ID2"/-->

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@yourdreams">
    <meta name="twitter:title" content="Mi sueño es {{dream.titulo}}">
    <meta name="twitter:description" content="{{dream.dream}}.">
    <meta name="twitter:creator" content="@richpolis">
    <meta name="twitter:image:src" content="{{urlAbsolutaFoto}}">
    <meta name="twitter:url" content="{{ urlCompartir }}">
    <meta name="twitter:domains" content="yourdreams.com">
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('css/magnific-popup.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="container row">
        <article class="wrap">
            <header class="show-dream header-dream">
                <hgroup>
                    <h2 class="titulo-dream">{{dream.titulo}}</h2>
                    <h4 class="fecha-dream">Creado el: {{ dream.createdAt | date('d/m/Y')}} a las {{dream.createdAt | date('h')}}</h4>
                </hgroup>
            </header>
            <div class="show-dream description-dream">
                <p>{{dream.dream}}</p>
            </div>
            <div class="show-dream file-dream">
                {% for galeria in dream.galerias %}
                    <a class="image-link" href="{{galeria.webPath}}">
                    {{ galeria.archivoView(200,200) | raw }}
                    </a>
                {% endfor %}    
            </div>
            <div class="show-dream share-dream">
                {% if dream.compartir == true %}
                <span class="icon-checkmark"></span> Compartir mi sueño
                {% else %}
                &nbsp; Compartir mi sueño
                {% endif %}    
            </div>
            {% if app.user is not null %}
                {% if dream.usuario.id == app.user.id %} 
                <button class="btn btn-lg" id="editDream">Editar</button>
                <button class="btn btn-lg" id="deleteDream">Eliminar</button>
                {% endif %}
            {% endif %}
        </article>
        <br/>        
        <article class="wrap">
            <header class="show-dream header-dream">
                <hgroup>
                    <h2 class="titulo-dream">Mensajes</h2>
                </hgroup>
            </header>
            {% for comentario in comentarios if comentario.nivel == 0 %}
            {% include 'FrontendBundle:Default:comentarios.html.twig' with { 'comentario': comentario } %}
            {% endfor %}
            <footer class="show-dream footer-dream">
            {% if app.user is not null %}    
                {% if dream.usuario.id != app.user.id %}
                    <a href="#modalFormComentario" class="crearComentario btn btn-lg" data-url="{{path('create_dream_mensaje',{'id': dream.id })}}" data-parent="0">
                        Enviar mensaje
                    </a>
                {% endif %}
            {% else %}
                <a href="{{ path('login',{'irA': urlCompartir }) }}" class="btn btn-lg">
                    Registrarse
                </a>
            {% endif %}
            </footer>
        </article>
    </section> <!-- /container -->
    <div id="modalFormComentario" class="modalForm white-popup mfp-hide">
        <div class="header-form-comentario">
            <h2 id="titulo-form-comentario"></h2>
        </div>
        <div id="body-form-comentario" class="body-form-comentario">
            
        </div>
        <div class="footer-form-comentario">
            <a href="#cerrarForm" onclick="$.magnificPopup.close();" class="btn btn-cerrar">Cerrar</a>
            <a href="#guardarForm" onclick="javascript:guardar()" class="btn btn-guardar">Enviar</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/jquery.magnific-popup.js')}}"></script>
    <script type="text/javascript">
        var popupMagnific = null;
        $(document).on("ready",function(){
            
            $("#deleteDream").on("click",function(){
                if(confirm("Quiere eliminar este sueño?")){
                    $.ajax({
                        url: '{{ path('delete_dream',{'id':dream.id}) }}',
                        type: 'DELETE',
                        dataType: 'json',
                    }).done(function(data, textStatus,jqXHR){
                        debugger;
                        data = JSON.parse(data);
                        if(data.accion == 'ok'){
                            alert('El sueño fue eliminado');
                            location.href='{{path('homepage')}}';
                        }else{
                            alert('Error al eliminar');
                        }
                    }).fail(function(data){
                        console.log(data);
                    });
                }
            });
            
            $("#editDream").on("click",function(){
                location.href='{{path('update_dream',{'id': dream.id})}}';
            });
            
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                  enabled:true
                },
                // Delay in milliseconds before popup is removed
                removalDelay: 500,

                // Class that is added to popup wrapper and background
                // make it unique to apply your CSS animations just to this exact popup
                mainClass: 'mfp-fade'
            });
            
            $(".crearComentario").on("click",function(){
                mostrarFormulario("Enviar mensaje");
                var url = $(this).data('url');
                var parent = $(this).data('parent');
                getFormulario(url,parent);
            });
            
            $('.crearComentario').magnificPopup({
                type:'inline',
                modal: true,
                midClick: true,
                // Delay in milliseconds before popup is removed
                removalDelay: 500,

                // Class that is added to popup wrapper and background
                // make it unique to apply your CSS animations just to this exact popup
                mainClass: 'mfp-fade'
            });
            
            
        });
        
        function mostrarFormulario(titulo){
            $("#titulo-form-comentario").html(titulo);
            $loader = $("<img>");
            $loader.attr({'src': '{{asset('images/loader.GIF')}}','id': 'loader'});
            $loader.css({'maxWidth': '80px'});
            $("#body-form-comentario").html($loader);
        }
        
        function guardar(){
            debugger;
            var $form = $("#body-form-comentario form");
            var data = $form.serialize();
            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                data: data,
                dataType: 'json',
            }).done(function(data, textStatus,jqXHR){
                debugger;
                data = JSON.parse(data);
                if(data.respuesta == 'nuevo'){
                    $("#body-form-comentario").html(data.form);
                    $("#body-form-comentario form").attr({'action': data.rutaAction});
                }else if(data.respuesta == 'creado'){
                    $.magnificPopup.close();
                    // reload pagina
                    location.reload();
                }
            }).fail(function(data){
                console.log(data);
            });
        }
        
        function getFormulario(url,parent){
                $.ajax({
                    url: url,
                    type: 'GET',
                    data: { 'parent': parent },
                    dataType: 'json',
                }).done(function(data, textStatus,jqXHR){
                    debugger;
                    data = JSON.parse(data);
                    if(data.respuesta == 'nuevo'){
                        $("#body-form-comentario").html(data.form);
                        $("#body-form-comentario form").attr({'action': data.rutaAction});
                    }
                });
        }
        
    </script>
{% endblock %}    