<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nombre de sueño
            </th>
            <th>
                Lugar
            </th>
            <th>
                Sueño
            </th>
            <th>
                Compartir
            </th>
            <th>
                Alta
            </th>
             <th>
                Actualizacion
            </th>
        </tr>
    </thead>
    <tbody>
        {% for dream in dreams %}
            <tr>
                <td>
                    {{ dream.titulo }}
                </td>
                <td>
                    {{ dream.lugar }}
                </td>
                <td>
                    {{ dream.dream }}
                </td>
                <td>
                    {{ (dream.compartir?'Si':'No') }}
                </td>
                <td>
                    {{ dream.createdAt | date('d-m-Y') }}
                </td>
                <td>
                    {{ dream.updatedAt | date('d-m-Y') }}
                </td>
            </tr>
        {% endfor %}
    </tbody> 
</table>
