{% extends 'BackendBundle::layout.html.twig' %}

{% block body %}
{% include 'BackendBundle:Default:navegador.html.twig' with {'tabActive': 'dreams' } %}
    <div class="container">
        <form action="{{ path('dreams_create') }}" method="post" {{ form_enctype(form) }}>
          <br>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">
                Crear Sueño
              </h3>
            </div>
            <div class="panel-body">
              {{ form_errors(form) }}  
              <div class="form-group">
                {{ form_widget(form.titulo,{'attr':{'class':'form-control','placeholder':'Sueño'}}) }}
              </div>
              <div class="form-group">
                {{ form_widget(form.lugar,{'attr':{'class':'form-control','placeholder':'Lugar'}}) }}
              </div>
              <div class="form-group">
                {{ form_row(form.dream,{'attr':{'class':'form-control','placeholder':'Descripcion'}}) }}
              </div>
              
              <div class="form-group">
                <label class="checkbox">
                  {{ form_widget(form.compartir) }}
                  Visible por otros?
                </label>  
              </div>
			  <div class="form-group">
                {{ form_widget(form.usuario,{'attr':{'class':'form-control','placeholder':'Usuario'}}) }}
              </div>
            </div>
          </div>
          <div class="container">
            <a href="{{path('dreams')}}" class="btn btn-success">Regresar</a>
            <input type="submit" class="btn btn-primary btn-sm pull-right" name="botonGuardar" id="botonGuardar" value="Guardar Sueño"/>
            {{ form_rest(form) }}
          </div>
          <div class="container text-center">
          </div>
        </form>
      </div>
{% endblock %}
