{% extends 'BackendBundle::layout.html.twig' %}

{% block body -%}
    {% include 'BackendBundle:Default:navegador.html.twig' with {'tabActive': 'dreams' } %}
    <div class="container">
        <form>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        Mostrar sueño
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="record_properties table table-striped">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{entity.id}}</td>
                            </tr>
                            <tr>
                                <th>Nombre del sueño</th>
                                <td>{{entity.titulo}}</td>
                            </tr>
                            <tr>
                                <th>Lugar</th>
                                <td>{{entity.lugar}}</td>
                            </tr>
                            <tr>
                                <th>Sueño</th>
                                <td>{{entity.dream}}</td>
                            </tr>
                            <tr>
                                <th>Compartir</th>
                                <td>{{ (entity.compartir?:'Si':'No') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container text-center">            
                <ul class="record_actions list-inline">
                    <li>
                        <a href="{{ path('dreams') }}" class="btn btn-primary">
                            Regresar
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('dreams_edit', { 'id': entity.id }) }}" class="btn btn-success">
                            Editar
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            </div>    
            <div class="container text-center">
            </div>
        </form>
    </div>   
{% endblock %}
