{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="container row">
      		{% if error %}
                <div class="alert alert-danger">{{ error.message | trans }}</div>
            {% endif %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice alert alert-success">
                  {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-notice alert alert-danger">
                  {{ flashMessage }}
                </div>
            {% endfor %}
      <div class="row"> 
        <form class="form-signin" role="form" action="{{ path('admin_login_check') }}" method="post">
          <h1 class="form-signin-heading">YourDreams</h1>
          
          <input type="email" class="form-control" placeholder="Usuario" name="_username" value="{{ last_username }}" required autofocus>
           <br/> 
          <input type="password" class="form-control" placeholder="Password" name="_password" required>
          <br/>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            <p class="text-center">
            Si no eres usuario puedes registrarte <a href="{{path('registro')}}">aquí</a>
           </p>
           <p class="text-center">
            o puedes utilizar las redes sociales: 
           </p>
           <p class="redes-sociales text-center">
              <a href="#"><span class="red-social facebook">&nbsp;</span></a>
              <a href="#"><span class="red-social twitter">&nbsp;</span></a>
           </p>
        </form>
	     
       </div>	
    </div> <!-- /container -->
    
{% endblock %}